header{
    width: 100%;
    height: 100%;
    margin: auto auto;
}

.timeConnect,.menu-wrapper{
    width: 90%;
    height: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
}

.time{
    font-weight: 700;
}

.marginLeft{
    margin-left: 10px;
}

.logo-wrapper{
    color: hsl(332,75%,51%);
    font-size: 48px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
}

.proNot-wrapper .user{
    font-size: 48px;
    color: hsl(352,95%,65%);
    margin-right: 15px;
}

.proNot-wrapper .bell{
    font-size: 25px;
    margin-bottom: 10px;
    color: hsl(352,95%,58%)
}