.price-tag{
    width: 100%;
    height: 100%;
    margin: auto auto;
}

.cur{
    width: 99.5%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    background-color: hsl(333,85%,52%);
    box-shadow: 0px 0px 15px rgba(0,0,0,.60);
}

.bal,.equ{
    width: 50%;
    height: 100%;
    margin: 20px auto;
    text-align: center;
}

.red,.green{
    width: 50px;
    height: 40px;
    margin: auto auto;
    margin-bottom: 5px;
    background-color: #FFF;
    padding: 5px 0px;
    border-radius: 100%;
    color: hsl(352,95%,58%);
    font-weight: 600;
}


.bal .red p{
    margin-top: 10px;
}

.equ .green p{
    margin-top: 10px;
    color: deepskyblue;
}

.pri{
    font-size: 40px;
    color: #FFF;
    margin: 5px 0px 20px 0px;
}

.tol{
    color: whitesmoke;
    font-weight: 700;
}

.cur .line{
    width: 1px;
    height: 150px;
    padding-top: 10px;
    background-color: hsl(0,0%,85%);
}

@media screen and (max-width: 756px){
    .red,.green{
        width: 40px;
        height: 30px;
       
    }
    .pri{
        font-size: 24px;
        color: #FFF;
        margin: 5px 0px 20px 0px;
    }
    
    .tol{
        color: whitesmoke;
        font-weight: 700;
    }
  }